@import url("https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1260px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100vh;
}
header .head {
  width: 100%;
}
header .head nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 10px 15px;
}
header .head nav .logo {
  display: flex;
  align-items: center;
}
header .head nav .logo h2 {
  font-size: 25px;
  font-family: "Hanalei Fill", system-ui;
  font-weight: 400;
  font-style: normal;
}
header .head nav .logo img {
  width: 100%;
  height: 100%;
}
header .head nav .navbar {
  height: 10vh;
}
header .head nav .navbar ul {
  display: flex;
  align-items: center;
  height: 10vh;
}
header .head nav .navbar ul li {
  list-style: none;
  padding: 0px 15px;
}
header .head nav .navbar ul li a {
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
  color: rgb(102, 94, 94);
}
header .head-content {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 140px;
}
header .head-content h1 {
  font-size: 50px;
  font-family: sans-serif;
  color: rgb(92, 92, 92);
  margin-bottom: 40px;
}
header .head-content p {
  font-size: 17px;
  font-family: serif;
  line-height: 27px;
}
header .head-content .line {
  height: 3px;
  width: 30%;
  background-color: rgb(146, 146, 146);
  margin: 40px auto;
}
header .reciep {
  text-align: center;
  font-family: sans-serif;
  color: rgb(64, 64, 64);
  margin-bottom: 20px;
}
header .recipes-container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 500px 500px;
  grid-template-rows: 500px 500px;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
header .recipes-container .recipes-item-4, header .recipes-container .recipes-item-3, header .recipes-container .recipes-item-2, header .recipes-container .recipes-item-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 17px;
  color: #fff;
}
header .recipes-container .recipes-item-4 p, header .recipes-container .recipes-item-3 p, header .recipes-container .recipes-item-2 p, header .recipes-container .recipes-item-1 p {
  opacity: 0;
}
header .recipes-container .recipes-item-1 {
  background-image: url(../assets/images/1.jpg);
  transition: opacity 0.7s ease-in-out;
}
header .recipes-container .recipes-item-1:hover {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/1.jpg);
  cursor: pointer;
}
header .recipes-container .recipes-item-1:hover p {
  opacity: 1;
}
header .recipes-container .recipes-item-2 {
  background-image: url(../assets/images/2.jpg);
}
header .recipes-container .recipes-item-2:hover {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/2.jpg);
  cursor: pointer;
}
header .recipes-container .recipes-item-2:hover p {
  opacity: 1;
}
header .recipes-container .recipes-item-3 {
  background-image: url(../assets/images/3.jpg);
}
header .recipes-container .recipes-item-3:hover {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/3.jpg);
  cursor: pointer;
}
header .recipes-container .recipes-item-3:hover p {
  opacity: 1;
}
header .recipes-container .recipes-item-4 {
  background-image: url(../assets/images/4.jpg);
}
header .recipes-container .recipes-item-4:hover {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/4.jpg);
  cursor: pointer;
}
header .recipes-container .recipes-item-4:hover p {
  opacity: 1;
}

.footer {
  margin-top: 100px;
  text-align: center;
  height: 10vh;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: sans-serif;
  color: rgb(30, 25, 25);
  font-size: 20px;
}/*# sourceMappingURL=main.css.map */